# Ignore IDE specific files.
.idea

# Ignore binary files.
__pycache__/
*.py[cod]

# Ignore the workspace files.
/builds/
/definitions/
/resources/
/templates
*--ignore
*--ignore.*

# Ignore virtual environment files.
/.venv/

# Ignore distribution and packaging files.
/build/
/dist/
*.egg-info/
