# Ignore IDE specific files.
.idea

# Ignore binary files.
__pycache__/
*.py[cod]

# Ignore the workspace files.
/builds/
/definitions/
/resources/
*-ignore

# Ignore virtual environment files.
/bin/
/lib/
/lib64
/include/

# Ignore distribution and packaging files.
/build/
/dist/
*.egg-info/
